<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% load static %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> <!-- Include Bootstrap CSS -->
</head>
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2><b>Register</b></h2>
    <hr>

    {% if messages %}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
    {% endif %}

    <div class="mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input name="first_name" type="text" class="form-control" id="firstName" value="{{ first_name|default:'' }}">
    </div>

    <div class="mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input name="last_name" type="text" class="form-control" id="lastName" value="{{ last_name|default:'' }}">
    </div>

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" type="text" class="form-control" id="username" value="{{ username|default:'' }}">
        <div id="usernameHelp" class="form-text">We'll never share your username with anyone else.</div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="password"  value="{{ username|default:'' }}">
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>

    <p>Already have an account? <a href="/login/">Login</a></p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>
